## Exam Code Done By Reham Essam Eldin ElTagoury 
## Group 5

## Q4

In [1]:
ls=[1,5,11,5]
k=16
f=False
for i in range(len(ls)-1):
    if (ls[i]+ls[i+1])==16:
        f=True
      
    else:
        i+=1
if f == True:
    print(True)
else:
    print(False)

True

## Q2

In [2]:
head=[1,0,0,1,0,0,1,1,1,0,0,0,0,0,0]
# head=[0]
# head=[1]
# head=[0,0]
# head=[1,0,1]
def decimal(x):
    bin_ls=x[::-1]
    dec=0
    for i in range(len(bin_ls)):
        dec+=bin_ls[i]*(2**i)
    return dec
output=decimal(head)
print(output)

18880

## Q5

In [3]:
k=7 # non negative number
def isprime(k):
    for i in range(2,k):
        if k%i==0:
            return False
    return True
count=1
if k==1:
    count=1
else:
    num_less=list(range(2,k))
    for i in num_less:
        if isprime(i)==True:
            count+=1
    print(count)

4

# Section 2
## Q6

In [4]:
class Person():
    def __init__(self,F_name,L_name,YOB,Nationality,job):
        self.F_name=F_name
        self.L_name=L_name
        self.YOB=YOB
        self.Nationality=Nationality
        self.job=job
class Customer(Person):
    def __init__(self,F_name,L_name,YOB,Nationality,job,cPc_name,P_num,cs_type,dep):
        super().__init__(F_name, L_name, YOB,Nationality,job)
        self.cs_type=cs_type
        self.cPc_name=cPc_name
        self.P_num=P_num
        self.dep=0
    def deposit(self,amt):
        self.dep=amt
        self.cs_type="Active"
    def withdraw(self,amt):
        
        if self.dep >=amt:
            self.dep=self.dep-amt
        else:
            if self.dep<=0:
                 self.cs_type="InActive"
                
            print( "Error")
    def print(self):
        print(self.cs_type)
        print("Details: " + str(self.F_name)+" "+str(self.L_name) +" "+ str(self.YOB)+" "+str(self.Nationality)+" "+str(self.job)+" "+
             str( self.job)+" "+str(self.P_num)+" "+str(self.dep))

In [5]:
z=Customer("mohamed","ahmed","2010","Egyptian","Accountant","VIP","Eco Co.","0202038","Active")

In [6]:
print(z.dep)
z.withdraw(757)
Acount_status=z.cs_type
print(Acount_status)

0
Error
InActive

In [7]:
z.deposit(757)
print(z.cs_type)

Active

In [8]:
z.withdraw(757)
print(Acount_status)

InActive

In [9]:
print(z.dep)

0

In [10]:
z.deposit(100)
print(z.dep)

100

In [11]:
z.withdraw(200)

Error

In [12]:
print(z)

<__main__.Customer object at 0x7f1f1be1ed10>

In [13]:
print(z.dep)

100

In [14]:
z.withdraw(1000)

Error

## Q7

In [15]:
fil=open('steps.txt')
li=[]
list_new=[]
# reading the files
for line in fil:
    li.append(line.split('\n'))
# pareparing a list of number of steps so I can loop on it
for i in li:
    list_new.append(i[0])
num_steps=0

for j in range(12):
    # months
    if j==2:
        # febrarury
        for i in range(28):
            # Days
            num_steps+=int(list_new[i])
        print("Month {} of Average : {}".format(int(j+1),num_steps/28))
    else:
        if j%2!=0 or j==8 or j==10 or j==12:
          ## even ## 31 days
          for i in range(31):
                #31 days
                num_steps+=int(list_new[i])
          print("Month {} of Average : {}".format(int(j+1),num_steps/31))
        else:
          for i in range(30):
                #30 days
                num_steps+=int(list_new[i])
          print("Month {} of Average : {}".format(int(j+1),num_steps/30))

Month 1 of Average : 5355.3
Month 2 of Average : 10428.645161290322
Month 3 of Average : 16692.5
Month 4 of Average : 20323.1935483871
Month 5 of Average : 26355.933333333334
Month 6 of Average : 30751.83870967742
Month 7 of Average : 37132.2
Month 8 of Average : 41180.48387096774
Month 9 of Average : 46426.58064516129
Month 10 of Average : 51672.67741935484
Month 11 of Average : 56918.77419354839
Month 12 of Average : 62164.87096774193