### Q1 Slide 3

In [ ]:
# Q1 Slide 3
ls=["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
for i in ls:
  print(str(i)+" is an ape. Its name starts with "+str(i[0])+ " Its name has "+ str(len(i))+" letters")

Homo sapiens is an ape. Its name starts with H Its name has 12 letters
Pan troglodytes is an ape. Its name starts with P Its name has 15 letters
Gorilla gorilla is an ape. Its name starts with G Its name has 15 letters

###  Q2 Slide 4

In [ ]:
# Q2 Slide 4
str1="""ATTCGATTATAAGCTCGATCGATCGATCGATCGATCGATCGATCGATCGATCGATC
ATTCGATTATAAGCACTGATCGATCGATCGATCGATCGATGCTATCGTCGT
ATTCGATTATAAGCATCGATCACGATCTATCGTACGTATGCATATCGATATCGATCGTAGTC
ATTCGATTATAAGCACTATCGATGATCTAGCTACGATCGTAGCTGTA
ATTCGATTATAAGCACTAGCTAGTCTCGATGCATGATCAGCTTAGCTGATGATGCTATGCA"""
str2=str1.split()
new_str=[]
inx=0
for i in str2:
  new_str.append(i[13:])
  inx+=1
for i in new_str:
  print("Prosseced sequence with length ",len(i))

Prosseced sequence with length  43
Prosseced sequence with length  38
Prosseced sequence with length  49
Prosseced sequence with length  34
Prosseced sequence with length  48

### Q3 slide 5
in the first pic (on the left) in each iteration the print statement will be exected while in the second pic(on the right) the print statement will execute just one time after the while is finished

### Farmer Problem

In [ ]:
# Farmer Problem
# chicken  2 legs
# cows 4 legs
# pigs 4 legs
def numoflegs(numchicken,numcows,numspigs):
  return numchicken+numcows+numspigs
a,b,c = map(int,input("please enter the subtotal of legs: ").split())
print("Total number of legs: ",numoflegs(a,b,c))

please enter the subtotal of legs: 4 2 4
Total number of legs:  10

### String Mutation

In [ ]:
# String Mutation
def tostrings(ls):
  re=''
  for i in ls:
      re+=i
  return re

str_given,index,value=input().split(',')
str_list=list(str_given)
str_list[int(index)]=value
out_list=tostrings(str_list)
print(out_list)

Abracadabra,5,k
Abrackdabra

### Rest of Lab 1

In [ ]:
# Slide 19 in lab 1
list1=[2, 3, 4, 5, 6, 7, 8]
list2=[4, 9, 16, 25, 36, 49, 64]
set1=set(zip(list1,list2))
print(set1)

{(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}