In [ ]:
#Q1 slide 11
a,b=input().split()
print(int(a)+int(b))
print(int(a)-int(b))
print(int(a)*int(b))
print(int(a)/int(b))

5 6
11
-1
30
0.8333333333333334

In [ ]:
# Q2 Swapping slide 12
a,b=map(int,(input().split()))
a,b=b,a
print(str(a)+' '+str(b))

enter two numbers: 7 25
25 7

In [ ]:
#Q3 slide 8
for i in range(6):
   x='*'
   print(x*i)

*
**
***
****
*****

In [ ]:
# Q4 slide 13
li=list(map(int,(input().split())))
print(li[1]+li[3]+li[5]+li[7])
print(li[0]+li[2]+li[4]+li[6])

11 2 7 9 12 -8 3 -1
2
33

In [ ]:
# Q5 slide 14
a,b,c=input().split()
print((a+"'"+b+'"'+c)*10)

j h g
j'h"gj'h"gj'h"gj'h"gj'h"gj'h"gj'h"gj'h"gj'h"gj'h"g

In [ ]:
#Q6 slide 15
x=int(input())
c=range(1,x)

print(sum(c))

27
351

In [ ]:
#Q7 slide 17
li=[1,2,3,4,4,4,5]
sets=set(li)
print(sets)

{1, 2, 3, 4, 5}

In [ ]:
#Q18 slide 18

list0ne=[3,6,9,12,15,18,21]
listtwo=[4,8,12,16,20,24,28]
newlist1=[]
newlist2=[]

for index , value in enumerate(list0ne):
  
  if index %2!=0:
    newlist1.append(value)
    

for index , value in enumerate(listtwo):
  
  if index %2==0:
     newlist2.append(value)
print(newlist1+newlist2)

[6, 12, 18, 4, 12, 20, 28]

In [ ]:
#Q19 slide 20
ls=[100,200,300,400,500]
print(list(reversed(ls)))

[500, 400, 300, 200, 100]

In [ ]:
#Q20 slide 21
lst=[10,20,[300,400,[5000,6000],500],30,40]
lst[2][2].append(7000)
print(lst)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
#Q21 slide 22
lst=['a','b',['c',['d','e',['f','g'],'k'],'I'],'m','n']
lst2=['h','i','j']
lst[2][1][2].extend(lst2)
print(lst)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'I'], 'm', 'n']

In [ ]:
#Q22 slide 23
li=[5,10,15,20,25,50,20]
for item in range(len(li)):
  if li[item]==20:
      li[item]=20*10
      break
print(li)

[5, 10, 15, 200, 25, 50, 20]

In [ ]:
#Q23 slide 24
li=["Mike", "", "Emma", "Kelly", "", "Brad"]
while '' in li:
  li.remove("")
li

['Mike', 'Emma', 'Kelly', 'Brad']